<!DOCTYPE html>
<html>
<head>
    <title>EduPredict - Student Performance Predictor</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>
    <h2>EduPredict</h2>

    <a href="/">Home</a>
    <a href="/predictor">Predict</a>
</nav>

<section class="hero">

    <h1>
        Student Performance
        <span>Predictor</span>
    </h1>

    <p>
        Predict student academic performance using
        Machine Learning.
    </p>

    <a href="/predictor">
        <button>Start Prediction</button>
    </a>

</section>

<section class="features">

    <div>
        <h2>🤖 AI Prediction</h2>
        <p>Machine Learning based performance prediction.</p>
    </div>

    <div>
        <h2>📊 Performance Analysis</h2>
        <p>Understand your academic performance.</p>
    </div>

    <div>
        <h2>💡 Smart Suggestions</h2>
        <p>Get recommendations for improvement.</p>
    </div>

</section>

</body>
</html>